{% extends 'login/base_login.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block main %}
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form method="post">
        {% csrf_token %}
        <div class="form-title">
            <span class="form-title">Olvidaste tu contraseña ?</span>
            <span class="form-subtitle">Ingresa tu correo.</span>
        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary uppercase pull-right">Enviar</button>
        </div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
</div>
{% endblock %}